*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.blur{
    filter: blur(3px);
    z-index: 100;
}
.container{
    /* border: 2px solid black; */
    width: 75vw;
    height: 90vh;
    margin: 10px auto;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border-radius: 30px;
    box-shadow:
    0 10px 20px rgb(0, 8, 255),
    0 6px 6px rgb(9, 34, 255);

  transition: all 0.3s ease;
}
.top{
    font-size: 30px;
    padding: 10px 40px;
    /* border: 4px solid gold; */
    display: flex;
    justify-content: space-between;
     color: #00f7ff;
    border-radius: 30px 30px 0px 0px;
   background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.top-right{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.login-btn{
    border: none;
    cursor: pointer;
    border-radius: 999px;
    font-weight: 600;
    transition: all 0.25s ease;
    padding: 10px 26px;
    background: linear-gradient(135deg, #00f7ff, #007a85);
    color: #002b30;
    box-shadow: 0 10px 25px rgba(0,247,255,0.3);
}
.login-btn:hover{
 transform: translateY(-2px);
    box-shadow: 0 16px 35px rgba(0,247,255,0.45);
}
.warning{
    margin-right: 150px;
}
.rules{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: auto 0;
    text-align: center;
    font-size: 20px;

}
.rules:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4 ease-in;
}
.options{
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start{
    width: 40px;
   background: rgba(0, 0, 0, 0.6);
    height: 30px;
    width: 130px;
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
     color: #e6faff;
box-shadow: 0 8px 30px rgba(0, 255, 255, 0.15);

 
}
.start:hover{
     background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    color: #00ffff;
    transform: scale(1.04);
}
.timer{
    border: 2px solid black;
     background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 0px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
     color: #00ffff;
}
.clock,.icon{
    width: 40px;
}
.coins{
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    padding: 5px 40px 5px 0px;
    border-radius: 20px;
}
.coin-count{
    padding-top: 3px;
    padding-left: 15px;
    color: azure;
}
.Question{
    /* border: 2px solid black; */
    height: 30%;
    padding: 0px 0px 0px 30px;
    font-size: 30px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.heading-q{
    text-align: center;
    border: 1px solid black;
    width: 20%;
    margin-left: 37%;
    border-radius: 20px;
     background: rgba(0, 0, 0, 0.6);
         color:#e6faff;
        box-shadow:
    0 6px 15px rgba(0, 0, 0, 0.6),
    0 0 15px rgba(0, 255, 255, 0.6);

  transition: all 0.25s ease;
}
.que{
    color: #e6faff;
    padding: 15px;
    margin-right: 30px;
    margin-top: 10px;
 background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border-radius: 30px;
}
.Q-Options{
    /* border: 2px solid black; */
    margin: 3% 4% 0px 4%;
    height: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border-radius: 30px;
}
.opt{
    /* border: 1px solid black; */
    margin: 0px 4px 19px 19px;
    height: 40px;
    width: 380px;
    border-radius: 30px;
    text-align: center;
     background: rgba(0, 0, 0, 0.6);
     color: #8fbfcc;
    font-size: 29px;
    letter-spacing: 2px;
}
.opt:hover{
     background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    cursor: pointer;
    /* transform: scale(1.04); */

}

.pop{
    background-color: rgba(0, 0, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 101;
    color: #00ffff;
}
.box{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    width: 30%;
    height: 20%;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;

}
.pop-message{
    padding: 10px;
}
.pop-buttons{
    background-color: blue;
    width: 130px;
    height: 30px;
    margin: 4% 8%;
    border-radius: 30px; 
    color: antiquewhite;
}
.reset-options{
    /* border: 2px solid black; */
    margin: 4%;
    margin-top: 7%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 0px 0px;
}
