*{
    margin: 0;
    padding: 0;
}
.container{
    /* border: 2px solid black; */
    width: 75vw;
    height: 90vh;
    margin: 10px auto;
    background-color: rgb(34, 10, 69);
    border-radius: 30px;
}
.top{
    font-size: 30px;
    padding: 10px 40px;
    /* border: 4px solid gold; */
    display: flex;
    justify-content: space-between;
    color: wheat;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(45, 15, 90);
}
.warning{
    margin-right: 150px;
}
.rules{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: auto 0;
    text-align: center;
    font-size: 20px;

}
.rules:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4 ease-in;
}
.options{
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start{
    width: 40px;
    background: linear-gradient(rgb(169, 151, 47), gold);
    height: 30px;
    width: 130px;
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(89, 8, 195);
 
}
.start:hover{
    background: linear-gradient(rgba(255, 217, 0, 0.83), rgb(241, 225, 49));
    cursor: pointer;
    transform: scale(1.04);
}
.timer{
    border: 2px solid black;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 0px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    color: black;
}
.clock,.icon{
    width: 40px;
}
.coins{
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    padding: 5px 40px 5px 0px;
    border-radius: 20px;
}
.coin-count{
    padding-top: 3px;
    padding-left: 15px;
    color: azure;
}
.Question{
    /* border: 2px solid black; */
    height: 30%;
    padding: 0px 0px 0px 30px;
    font-size: 30px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.heading-q{
    text-align: center;
    border: 1px solid black;
    width: 20%;
    margin-left: 37%;
    border-radius: 20px;
    background-color: gold;
        color: rgb(102, 16, 214);
}
.que{
    color: aliceblue;
    padding: 15px;
    margin-right: 30px;
    margin-top: 10px;
    background-color: rgb(51, 15, 104);
    border-radius: 30px;
}
.Q-Options{
    /* border: 2px solid black; */
    margin: 3% 4% 0px 4%;
    height: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border-radius: 30px;
}
.opt{
    /* border: 1px solid black; */
    margin: 0px 4px 19px 19px;
    height: 40px;
    width: 380px;
    border-radius: 30px;
    text-align: center;
    background-color: gold;
    color: blue;
    font-size: 29px;
    letter-spacing: 2px;
}
.opt:hover{
    background: linear-gradient(rgba(255, 217, 0, 0.83), rgb(241, 225, 49));
    cursor: pointer;
    transform: scale(1.04);

}
.hidden{
    display: none;
}
